/* * {
    border: solid blue;
}
.App {
    display: inline-flex;
}
.nav {
    width: 100px;
}
div > aside {
    display: flex;
}
nav, li {
    display: flexbox;
    margin: none;
}
ul {
    list-style-type: none;
} */
